html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}



.container {
    display: grid;
    grid-template-columns: 500px 50px;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "main name";
    max-width: 550px;
    height: 100vh;
    margin: 0 auto;
}

.main {
    grid-area: main;
}


.name {
    grid-area: name;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: name;
    color: #1cac78;
    overflow: hidden;
}



.headertext {
    display: flex;
    justify-self: center;
    transform: rotate(90deg);
    white-space: nowrap;
    font-size: 32px;
}


html,
body,
.container {
    height: 100vh;
    background-color: black;
    font-family: 'times';
}

a:link {
    color: #1CAC78;
    text-decoration: none;
}

/* unvisited link */
a:visited {
    color: #1CAC78;
    text-decoration: none;
}

/* visited link */
a:hover {
    color: #1CAC78;
    font-style: italic;
}

/* mouse over link */
a:active {
    color: #1CAC78;

}

/* For presentation only, no need to copy the code below */



h2 {
    width: 100%;
    text-indent: 30px;
    border-bottom: 1px solid #1cac78;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

h2 span {
    padding: 0 10px;
    color: #1cac78;
    background-color: black;
}

hr {
    background-color: #1cac78;
    border: 0px;
    height: 1px
}

.nav {
    position: relative;
    font-size: 18px;
}



.nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    background: currentColor;
    width: 0;
    left: 0;
    transition: all 0.3s ease;
}

p {
    color: white;
    font-size: 16px;
    text-indent: 25px;
    margin: 5px;
}

.moe {
    color: #1cac78;
    font-style: italic;
}

.tagline {
    padding: 0px;
    margin: 0px;
    color: #1cac78;
    font-style: italic;
    text-indent: 85px
}

.title {
    margin-bottom: 5px;
}

.intro {
    margin-top: 0px;
}

.latestlist {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;

}

.latestlistitem {
    position: relative;
    overflow: hidden;
    order: 0;
    transition: order 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 8.5px;
    text-indent: 20px;
    border-left: 1px solid #1cac78;
}

.latestlistitem .preview {
    max-height: 0;
    transition: max-height 0.2s ease;
    padding: 0px;
    margin-top: 6px;
}



.latestlistitem:hover .preview {
    max-height: 200px;

}

.latestlistitem::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, black 0%, rgba(28, 172, 120, 1) 300%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: -1;
    pointer-events: none;
}

.latestlistitem:hover::before {
    opacity: 1;

}

.latestlistitem:first-child {}

.latestlistitem:last-child {
    border-bottom: 0;
}

.latestblog {
    position: relative;
    z-index: 1;
    height: 200px;
    display: flex;
    flex-direction: row;
    border-width: 2px;
    border-style: solid;
    float: right;
    text-align: right;
    background:
        radial-gradient(rgba(0, 0, 0, 30%) 0%, rgba(0, 0, 0, 1) 80%),
        url(/img/tmbgmiddle.jpg) no-repeat left center / cover;
}

.ascii {
    float: left;
    width: 200px;
    height: 384px;
    color: #1CAC78;
    letter-spacing: 0.25px;
}

.etctitle {
    width: 290px;
    float: right;
}

.navitem {
    transition: opacity 0.3s ease;
}

.faded {
    opacity: 0;
}

/* Animated highlight overlay */
.h2-highlight {
    position: absolute;
    bottom: -2px;
    height: 2px;
    background-color: black;
    width: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
}

.etc {
    float: right;
    color: white;
    width: 280px;
    height: 160px;
}

.footer {
    font-size: 18px;
}

@font-face {
    font-family: 'times';
    /*a name to be used later*/
    src: url('/font/times.ttf');
    /*URL to font*/
}

@font-face {
    font-family: 'inc';
    /*a name to be used later*/
    src: url('/font/inc.ttf');
    /*URL to font*/
}

pre {
    font-family: 'inc';
    font-size: 2.7px;

}