.posts {
    width: 850px;
    height: fit-content;
    color: white;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 800px);
    grid-auto-rows: auto;
    border-width: 6px;
    border-style: solid;
    border-image:
        linear-gradient(180deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(28, 172, 120, 1) 100%) 1
}

.post {
    height: 50px;
    line-height: 50px;
    padding: 0px;
    width: 850px;
    margin: 0px;
}

.postline {
    height: 12px;
    border-bottom: 1px solid rgb(119, 119, 119, 0.35);
    width: 100%;
    list-style: none;

}

.posttext {
    height: 50px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 0px;
    padding: 0px;
    line-height: 50px;
    font-style: italic;

}

.header {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(28, 172, 120, 1) 100%);
    color: transparent;
    background-clip: text;
    width: 850px;
    margin: 0 auto;
    font-size: 50px;
    padding-left: 20px;
    padding-bottom: 5px;
}

.footer {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(28, 172, 120, 1) 100%);
    color: transparent;
    background-clip: text;
    width: 850px;
    margin: 0 auto;
    text-align: right;
    font-size: 15px;
}

html,
body {
    background:
        linear-gradient(to right, rgba(0, 0, 0, 10%) 0%, rgba(0, 0, 0, 1) 50%),
        url(/img/tmbgmiddle.jpg) no-repeat left center / cover;
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0;

    a:link {
        color: #1CAC78;
        text-decoration: none;
    }

    /* unvisited link */
    a:visited {
        color: #1CAC78;
        text-decoration: none;
    }

    /* visited link */
    a:hover {
        color: #1CAC78;
        font-style: italic;
    }

    /* mouse over link */
    a:active {
        color: #1CAC78;
        text-decoration: none;
    }

    /* selected link */

}